[submodule "ghostty"]
	path = ghostty
	url = https://github.com/manaflow-ai/ghostty.git
	branch = main
[submodule "homebrew-bmux"]
	path = homebrew-bmux
	url = https://github.com/manaflow-ai/homebrew-bmux.git
[submodule "vendor/bonsplit"]
	path = vendor/bonsplit
	url = https://github.com/manaflow-ai/bonsplit.git
